<?xml version="1.0" encoding="utf-8"?>


<configuration>
  <appSettings>
    <add key="EDI_JULES" value="DATA\EDI_JULES" />
	  <add key="EXPORT_TO_XL" value="DATA\ExportToExcel\ExportToExcel.exe"/>
    <!--<add key="EXPORT_TO_XL" value="DATA\ExportToExcel\ExportToExcel.exe" />
    <add key="ERP_EXE" value="DATA\ERP\ERP.exe" />
    <add key="EDI_EXE" value="DATA\EDI\EDI.exe" />
    <add key="SendMail" value="DATA\SendMail\SendMail.exe" />
    <add key="EXPORT_TO_XL_BATCH" value="DATA\ExportToExcelBatch\ExportToExcelBatch.exe" />-->
    <add key="ENC" value="N" />
    <add key="SendMail" value="N" />
    <add key="FILE_PATH" value="D:\Prealeart\" />
    <add key="FILE_PATH_IMPORT_DOC" value="D:\Project\Application\Manilal_V3\Manilal_V3\DATA\INVOICEDOC\" />
    <add key="FILE_PATH_ACC_FRA" value="DATA\ACCOUNT_FRA\" />  
    <add key="PATH_EXPORTTOXL" value="DATA" />
    <add key="PATH_EXPORTTOXL_TMP" value="DATA\TEMP\" />
    <add key="PATH_UPLOAD_OS_FILE" value="DATA\OUTSTANDING_REMARK\" />
    <add key="CONSOLE_PURCHASE" value="DATA\CONSOLE_PURCHASE\" />
    <add key="BOOKING_SHIPFOLDER" value="Booking\DOCUMENT\" />
    <add key="BOOKING_DOC_SHIPPER" value="DATA\BOOKING_DOC_SHIPPER\" />
    <add key="ORDERFOLLOWUP" value="DATA\ORDER_FOLLOWUP\" />
    <add key="FILE_ALPATH" value="E:\Alert\" />
	  <add key="DOWNLOADPATH" value="http://manilal.com/angular-api/" />
    
   <!--<add key="conString_Manilal" value="User ID=sa;password=123456;packet size=4096;data source=.;initial catalog=Manilal_20200518;Pooling=False" />--> 
    <add key="conString_Manilal" value="User ID=jolly_e;password=Mpprod51;packet size=4096;data source=180.179.207.163,1433;initial catalog=Manilal;Pooling=False" />
	  
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    <modules runAllManagedModulesForAllRequests="true" />

    <rewrite>
      <rules>
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
            <add input="{URL}" negate="true" pattern="/API/" />
          </conditions>
          <action type="Rewrite" url="/" />
          <!--<action type="Rewrite" url="/" />-->
        </rule>
      </rules>
    </rewrite>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>


<!--<configuration>
  <appSettings>
    --><!--<add key="EDI_JULES" value="DATA\EDI_JULES" />--><!--
    --><!--<add key="EXPORT_TO_XL" value="DATA\ExportToExcel\ExportToExcel.exe" />
    <add key="ERP_EXE" value="DATA\ERP\ERP.exe" />
    <add key="EDI_EXE" value="DATA\EDI\EDI.exe" />
    <add key="SendMail" value="DATA\SendMail\SendMail.exe" />
    <add key="EXPORT_TO_XL_BATCH" value="DATA\ExportToExcelBatch\ExportToExcelBatch.exe" />--><!--
    <add key="ENC" value="N" />
    <add key="SendMail" value="N" />
    <add key="FILE_PATH" value="D:\Prealeart\" />
    --><!--<add key="FILE_PATH_IMPORT_DOC" value="D:\Project\Application\Manilal_V3\Manilal_V3\DATA\INVOICEDOC\" />--><!--
    --><!--<add key="FILE_PATH_ACC_FRA" value="DATA\ACCOUNT_FRA\" />--><!--
    <add key="PATH_EXPORTTOXL" value="DATA" />
    <add key="PATH_EXPORTTOXL_TMP" value="DATA\TEMP\" />
    --><!--<add key="PATH_UPLOAD_OS_FILE" value="DATA\OUTSTANDING_REMARK\" />
    <add key="CONSOLE_PURCHASE" value="DATA\CONSOLE_PURCHASE\" />--><!--
    <add key="BOOKING_SHIPFOLDER" value="Booking\DOCUMENT\" />
    <add key="BOOKING_DOC_SHIPPER" value="DATA\BOOKING_DOC_SHIPPER\" />
    <add key="ORDERFOLLOWUP" value="DATA\ORDER_FOLLOWUP\" />
    <add key="FILE_ALPATH" value="E:\Alert\" />
    <add key="DOWNLOADPATH" value="http://localhost:45896//" />
     
    
     --><!--<add key="conString_Manilal" value="User ID=sa;password=123456;packet size=4096;data source=LAPTOP-Q3O8DGVM;initial catalog=Manilal_20200518;Pooling=False" />--><!--
    <add key="conString_Manilal" value="User ID=jolly_e;password=Mpprod51;packet size=4096;data source=180.179.207.163,1433;initial catalog=Manilal;Pooling=False" />
    --><!--<add key="conString_Manilal" value="User ID=sa;password=123456;packet size=4096;data source=NISHA_PDG\MSSQLSERVER2017;initial catalog=MANILAL_20200116;Pooling=True"/>--><!--
  --><!--<add key="conString_Manilal" value="User ID=sa;password=123456;packet size=4096;data source=NISHA_PDG\MSSQLSERVER2017;initial catalog=Manilal_20190206_UDV;Pooling=True"/>--><!--
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5" />
      <httpRuntime maxRequestLength="1073741824" targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <staticContent>
      --><!--<mimeMap fileExtension=".json" mimeType="application/json" />--><!--
    </staticContent>
    <modules runAllManagedModulesForAllRequests="true" />

    <rewrite>
      <rules>
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
            <add input="{URL}" negate="true" pattern="/API/" />
          </conditions>
          <action type="Rewrite" url="/" />
          --><!--<action type="Rewrite" url="/" />--><!--
        </rule>
      </rules>
    </rewrite>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  
  <security>
    <requestFiltering>
      <requestLimits maxAllowedContentLength="1073741824" />
    </requestFiltering>
  </security>
		
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>-->
